<div class="name">
    <p>{{country.name}}</p>
</div>
<div class='details'>
    <table class="table table-bordered">
        <tr>
            <td class="labl">Population</td>
            <td>{{country.pop}}</td>
        </tr>
        <tr>
            <td class="labl">Area</td>
            <td>{{country.area}}</td>
        </tr>
        <tr>
            <td class="labl">Capital</td>
            <td>{{country.capital}}</td>
        </tr>
        <tr>
            <td class="labl">{{country.numNeigh}} neighbor(s)</td>
            <td id="neighbors"><span ng-repeat="neighbor in country.neighbors" ng-click='toCountry(neighbor)'>
                <a ng-href="#countries/{{neighbor.countryName}}/capital">{{neighbor.countryName}}</a>{{$last ? '' : ', '}}</span></td>
        </tr>
    </table>
</div>
<div class="images">
    <ul>
        <li><img id='myImage' ng-src="http://www.geonames.org/img/country/250/{{country.code}}.png" /></li>
        <li><img ng-src="http://www.geonames.org/flags/x/{{country.code | lowercase}}.gif" /></li>
    </ul>
</div>
<div class="navigate">
    <ul>
        <li><button type="button" ng-click="goHome()">Home</button></li>
        <li><button type="button" ng-click="countries()">Countries</button></li>
    </ul>
</div.navigate>