.banner {
    width: 100%;
    text-align: center;
}

.title {
    margin: auto;
}

.text {
    width: 100%;
}

.text p {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.button button {
    margin: auto;
    display: block;
}

.countries-heading {
    width: 100%;
}

.countries-heading h1 {
    text-align: center;
}

.countries table {
    margin: 0 auto;
    height: 400px;
    overflow: auto;
    width: 1000px;
    display: block;
}

.go-home button {
    margin: auto;
    display: block;
}

.countryName:hover {
    color: #FF00FF;
    cursor: pointer;
}

.name {
    width: 100%;
}

.name p {
    margin: 0;
    text-align: center;
}

.details table {
    margin: 0 auto;
}

.navigate {
    text-align: center;
}

.images ul {
    display: inline;
    text-align: center;
}

li {
    display: inline-block;
}

.images {
    text-align: center;
}

.loading {
    position:relative;
    height:100%;
}
.loading:before {
    position:absolute;
    content:"Loading...";
    text-align: center;
    left:0;
    bottom:0;
    right:0;
    top:0;
    z-index:1000;
    background:rgba(255,255,255,0.9) no-repeat center center;
    /*background-image: url('loading-animation.gif');*/
}

.animate-container { 
    position:relative; 
    min-height: 100%;
}

.animate.ng-leave,
.animate.ng-enter.ng-enter-active {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate.ng-enter,
.animate.ng-leave.ng-leave-active {
    opacity: 0;
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.table-bordered {
    width: 25%;
    margin: 0 auto;
}
