.banner {
    width: 100%;
    text-align: center;
}

.title {
    margin: auto;
}

.text {
    width: 100%;
}

.text p {
    margin: auto;
    text-align: center;
}

.button button {
    margin: auto;
    display: block;
}

.countries-heading {
    width: 100%;
}

.countries-heading h1 {
    text-align: center;
}

.countries table {
    margin: 0 auto;
    height: 400px;
    overflow: auto;
    width: 1000px;
    display: block;
}

.go-home button {
    margin: auto;
    display: block;
}

.countryName:hover {
    color: #FF00FF;
    cursor: pointer;
}

.name {
    width: 100%;
}

.name p {
    margin: 0;
    text-align: center;
}

.details table {
    margin: 0 auto;
}

.navigate {
    text-align: center;
}

.images ul {
    display: inline;
    text-align: center;
}

li {
    display: inline-block;
}

.images {
    text-align: center;
}